:root {
  --background-color: rgb(10, 10, 20);
  --primary-color: rgb(75, 50, 225);
  --link-color: rgb(15, 180, 255);
  --active-color: rgb(255, 54, 218);
  --subheading-color: rgba(255, 255, 255, 0.7);
  --padding-right: 0px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
body {
  background-color: var(--background-color);
  background-size: 2.5rem 2.5rem;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.06) 0.12rem,
    transparent 0
  );
  background-attachment: fixed;
  padding-right: var(--padding-right);
}
::selection {
  background-color: white;
  color: var(--background-color);
}
h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
h1::selection,
h1 > ::selection {
  background-color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
}
h3 {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.subheading {
  color: var(--subheading-color);
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.7rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}
nav > * {
  pointer-events: all;
}
nav span {
  padding-right: 3rem;
}
a.tab div {
  font-size: 1.33rem;
}
a:active.tab div {
  text-decoration-line: underline;
  color: var(--link-color);
}
img {
  display: block;
  user-select: none;
}
div.hide {
  display: none;
}
div.unhide {
  display: block;
}
.full-width {
  width: 100%;
}
.flex-col {
  flex-direction: column;
}

.typewriter {
  display: inline-block;
  position: relative;
  color: transparent;
  --index: 0;
}
.second {
  --index: 1;
}
.typewriter::before {
  pointer-events: none;
  content: attr(--text);
  color: white;
  position: absolute;
  clip-path: inset(0 100% 0 0);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: typewriter 0.5s forwards linear;
  animation-delay: calc(0.5s + 0.5s * var(--index, 0));
}
@keyframes typewriter {
  to {
    clip-path: inset(0 0 0 0);
  }
}
.typewriter::after {
  content: "";
  position: absolute;
  top: 0.025em;
  bottom: 0.15em;
  left: 0;
  width: 0.06em;
  animation: cursor 0.5s forwards linear, hidecursor 0.5s forwards linear;
  animation-delay: calc(0.5s + 0.5s * var(--index, 0));
}
.second::after {
  animation: cursor 0.5s forwards linear, blink 0.6s ease-in infinite alternate;
  animation-delay: calc(0.5s + 0.5s * var(--index, 0));
}
@keyframes cursor {
  0% {
    background-color: transparent;
  }
  from {
    background-color: white;
  }
  to {
    background-color: white;
    left: 100%;
  }
}
@keyframes hidecursor {
  99.9% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes blink {
  from {
    background-color: white;
  }
  to {
    background-color: transparent;
  }
}

@media (prefers-reduced-motion: reduce) {
  .typewriter {
    color: unset;
  }
  .typewriter::before,
  .typewriter::after {
    animation: none;
  }
}

.active {
  text-decoration-line: underline;
  color: var(--active-color);
}
.logo {
  margin: 0.66rem;
  width: 2.66rem;
}
.links {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.unset-width {
  width: unset;
}
.social-btns {
  position: absolute;
  top: 16px;
  right: 0;
  display: flex;
}
.social-btns > * {
  margin-right: 1rem;
}
.social-btns img {
  height: 1.8rem;
}
.menu {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu:focus {
  outline-offset: 0.2rem;
  outline: 0.05rem solid white;
}
.menu img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  pointer-events: none;
}
.close {
  padding: 0.1rem;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  padding: 1.66rem;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action {
  display: inline-flex;
  align-items: center;
  height: 3.33rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
  border: 0.1rem solid white;
  border-radius: 15rem;
  font-size: 1rem;
  font-weight: 600;
  transition-property: color, background-color;
  transition-duration: 250ms;
  cursor: pointer;
  user-select: none;
}
.action:hover,
action > *:hover {
  background-color: white;
  color: #333;
}
.action:focus,
action > *:focus {
  background-color: white;
  color: #333;
}

.langs {
  list-style: disc;
}
.langs li {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
}
.langs ::marker {
  font-size: 1.75rem;
  content: "•";
}

.projects-col {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.skills-col {
  width: 30%;
  padding-right: calc(0.3 * var(--padding-right));
}
@media screen and (min-width: 1601px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1101px) {
  nav {
    position: fixed;
  }
  .main {
    position: relative;
    top: 4.5rem;
  }
  .hero {
    margin-left: 5rem;
  }
  .skills-col {
    position: fixed;
  }
  .projects-col {
    margin-left: 40%;
  }
}

.contact-section {
  width: 50%;
}
.contact {
  padding: 0.5rem 0;
}
.contact-link {
  margin-left: 1rem;
  color: var(--link-color);
}

@media screen and (max-width: 1100px) {
  .flex {
    flex-direction: column;
  }
  .skills-col,
  .projects-col {
    width: 100%;
    padding-bottom: 30px;
  }
  .skills-col {
    max-width: 450px;
  }
  .contact-section {
    width: 100%;
  }
}

.skill {
  display: flex;
  margin: 0.5rem;
  height: 2.4rem;
}
.skill-name {
  width: 35%;
}
.skill-bar {
  width: 65%;
}
.skill-bar-border {
  border: 0.2rem solid white;
  border-radius: 1rem;
  min-height: 1.3rem;
}
.skill-value {
  height: 0;
  margin: 0.2rem;
  border: 0.25rem solid white;
  border-radius: 1rem;
  background-color: white;
}
.p30 {
  width: calc(30% - 1rem);
}
.p50 {
  width: calc(50% - 1rem);
}
.p70 {
  width: calc(70% - 1rem);
}
.p75 {
  width: calc(75% - 1rem);
}
.p80 {
  width: calc(80% - 1rem);
}
.p95 {
  width: calc(95% - 1rem);
}
.skills-legend {
  display: flex;
  justify-content: flex-end;
  margin: 0 0.5rem;
}
.skills-legend > * {
  width: 65%;
  display: flex;
  align-items: center;
}
.skills-legend p {
  color: var(--subheading-color);
  font-size: 0.8rem;
  line-height: 0.6rem;
}

.projects-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.projects-heading .action {
  position: relative;
  bottom: -6px;
}
.project {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.project-title {
  padding-bottom: 1rem;
}
.project-info {
  flex: 1;
  align-self: flex-start;
  padding-right: 1rem;
  overflow-wrap: anywhere;
}
.project-img-container {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-img {
  max-height: 26rem;
  max-width: 22rem;
  min-height: 12rem;
  min-width: 12rem;
  object-fit: contain;
  border-radius: 0.3rem;
  cursor: pointer;
}
.project-img-open {
  max-height: 80%;
  max-width: 100%;
  min-width: 20%;
  min-height: 40%;
  object-fit: contain;
}
.project-link {
  padding: 1rem 0;
  word-break: break-all;
}
.project-link a {
  color: var(--link-color);
}
.project-link:active {
  text-decoration-line: underline;
}
hr {
  width: 50%;
  color: var(--subheading-color);
  margin: 2rem auto;
  border-style: solid;
  border-radius: 0.1rem;
  border-top: 0;
}
@media (max-width: 700px) {
  nav {
    width: 100%;
  }
  nav span {
    padding: 0;
  }
  .links {
    flex-direction: column;
    align-items: center;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
  }
  .links span:first-of-type {
    padding-top: 20px;
  }
  a.tab div {
    margin: 20px;
  }
  .logo-container {
    align-self: flex-start;
  }

  .main {
    padding: 1.5rem;
  }

  .project {
    flex-direction: column;
  }
  .project-info {
    width: 100%;
    padding: 0;
  }
  .set-height {
    height: 250px;
  }
  .skills-col {
    min-width: 270px;
  }
  .skills-legend p {
    font-size: 0.6rem;
  }
}

footer {
  width: 100%;
  max-width: 600px;
  line-height: 1;
  padding-bottom: 0.4em;
  /* Static style */
  margin: auto;
  /* Absolute style */
  bottom: 0;
}
.quotes {
  display: flex;
  overflow-x: hidden;
}
.quote {
  flex-shrink: 0;
  display: inline-block;
  margin-right: 6rem;
  position: relative;
  animation: scroll-left infinite linear;
  animation-duration: var(--quotes-scroll-duration, 99999s);
}
.quote:last-child {
  margin: 0;
}
@keyframes scroll-left {
  from {
    left: var(--footer-width, 600px);
  }
  to {
    left: calc(-1 * var(--quotes-scroll-width, 600px));
  }
}

.coffee {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
}
.fade-fast {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 180ms;
}
.bounce-fade {
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}
.small {
  padding: 8px;
}
.invisible {
  opacity: 0%;
  pointer-events: none;
  visibility: hidden;
}
.visible {
  opacity: 100%;
}
.skill-level {
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
}
.increase-width {
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 1000ms;
}
.zero-width {
  width: 0;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  -webkit-user-drag: none;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  width: 0.5rem;
  background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  border: 0.4rem solid var(--background-color);
}

.bmc-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.3em;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-color);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.3);
  position: relative;
  user-select: none;
}
.bmc-text {
  font-weight: 600;
  margin-left: 0.5rem;
  font-size: 1rem;
}
.bmc-button:active {
  top: 0.1rem;
}

.modal-background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120%;
  padding-bottom: 20vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
