* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(11, 9, 26);
}
h1 {
    font-size: 72px;
    font-weight: 600;
}
h2 {
    color: rgb(170, 76, 199);
    font-size: 48px;
}
h3 {
    font-size: 24px;
}
nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active {
    text-decoration-line: underline;
}
.navbar {
    display: inline-flex;
    align-items: center;
}
.navbar span {
    padding-right: 50px;
}
.logo {
    margin: 10px;
    width: 48px;
}
.container {
    padding: 30px;
}
.action {
    margin-top: 30px;
    height: 60px;
    padding: 10px 30px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 250ms;
}
.action:hover {
    background-color: white;
    color:#333;
    transition-duration: 250ms;
}