* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(11, 9, 26);
}
h1 {
    font-size: 72px;
    font-weight: 600;
}
h2 {
    color: rgb(170, 76, 199);
    font-size: 48px;
}
h3 {
    font-size: 24px;
}
nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active {
    text-decoration-line: underline;
}
.navbar {
    display: inline-flex;
    align-items: center;
}
.navbar span {
    padding-right: 50px;
}
.logo {
    margin: 10px;
    width: 48px;
}
.main {
    position: absolute;
    padding: 30px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.action {
    margin-top: 30px;
    height: 60px;
    padding: 10px 30px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 250ms;
}
.action:hover {
    background-color: white;
    color:#333;
    transition-duration: 250ms;
}
.left {
    display: inline-block;
    width: 48%;
}
.right {
    display: inline-block;
    width: 48%;
}
@media screen and (max-width:600px) {
    .flex {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
        padding-bottom: 30px;
    }
}
.skill {
    display: flex;
    margin: 10px;
    height: 40px;
}
.skill-name {
    width: 35%;
}
.skill-bar {
    width: 65%;
    padding-right: 12px;
}
.skill-bar-border {
    height: 15px;
    width: 100%;
    border: 4px solid white;
    border-radius: 14px;
}
.skill-value {
    position: relative;
    top: -16px;
    left: 7px;
    width: 0%;
    height: 0px;
    border: 4.5px solid white;
    background-color: white;
    border-radius: 10px;
}
.p70 {
    width: 70%;
}
.p75 {
    width: 75%;
}
.p80 {
    width: 80%;
}
.p90 {
    width: 90%;
}
.fade {
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
}
.invisible {
    opacity: 0%;
}
.visible {
    opacity: 100%;
}
.skill-level {
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
}
.increase-width {
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 1000ms;
}
.zero-width {
    width: 0;
}